.card:hover {
  box-shadow: 0.2rem 0.2rem white;
  translate: -0.2rem -0.2rem;
}

.card {
  padding: 2rem;
  border: 1px solid white;
  border-radius: 1rem;
  transition: 0.115s;
  cursor: pointer;
  width: 400px;
  margin-bottom: 1rem;
}

.card > h2 {
  font-size: 2rem;
  border-left: 1rem solid #191970;
  border-right: 1rem solid #191970;
}

.card > img {
  border-radius: 1rem;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.tags {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.tags > .tag {
  border: 0.1rem solid white;
  background-color: #708090;
  margin: 0.2rem 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
